html {
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url('https://image.freepik.com/free-vector/abstract-wallpaper-with-halftone_23-2148585152.jpg');
    /* background-image: url(images/bg3.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    display: block;
}
.innerbox {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 10px whitesmoke;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    /* min-width: 200px; */
    /* height: 490px; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
form {
    padding:15px;
}
::placeholder {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.btn {
    margin-top: 5vh;
    position: relative;
    left: 47%;
    bottom: -20%;
    transform: translate(-50%,-50%);
}

img {
    padding-left: 0px;
    height: 400px;
    width: 100%;
}
label {
    color: #fb3b01;
    margin-bottom: 0px;
    transition: all 0.9s ease;
    font-family: 'Comfortaa', cursive;
    /* font-size: 150%; */
    font-size: 1rem;
    font-weight: 900px;
    -webkit-text-stroke: 0.5px black;
}
/* label:hover{ 
    text-shadow: 1px 1px 1px gray;
} */
input[type=email], input[type=password] {
    /* border: transparent;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 20px; */
    padding-bottom: 0px;
    padding-top: 0px;
    border: none;
    border-bottom: 2px solid #06191F;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: black;
    background: transparent;
}
input[type=email] {
    margin-bottom: 5px;
}
input[type=email]:focus, input[type=password]:focus {
    outline: none;
    background: transparent;
    caret-color: black;
}
#emailHelp {
    color: black;
    font-family: monospace;
    font-size: 100%;
}

.btn08 {
    background-color: transparent;
    /* position: absolute;
    bottom: 30px;
    left: 50%; */
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fb3b01;
    width: 100px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 1;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
    background-color: transparent;
    border: 1px solid orangered;
    text-shadow: 2px -2px 5px orangered;
}

.btn08:hover {
    color: yellow;
    text-shadow: 0 2px 5px black;   
}
button:focus {
    border: 1px solid black !important;
    box-shadow: none !important;
    outline-color: none !important;
}
/* 
#forgot-password, #sign-up-here {
    color: orangered;
    -webkit-text-stroke: 0.5px black;
    transition: all 0.9s ease;
    font-family: monospace;
    /* font-size: 150%; 
}
#forgot-password {
    font-family: monospace;
    font-size: 150%;
}
/* #forgot-password:hover{
    color: darkolivegreen;
    text-shadow: 1px 1px 1px rgba(127,255,0,0.8);
} */
/* 
#forgot-password:visited {
    color: salmon;
} */
.row {
    position: relative;
    /* top: 50%; */
    transform: translate(0%,50%);
    box-shadow: 7px 5px 5px rgba(255, 255, 255, 0.384);
    /* box-shadow: -10px -10px 10px red; */
}
.sign-up-link {
    padding-top: 2%;
    font-family: monospace;
    font-size: 150%;
}
.form-control:focus {
    color: black;
    font-size: 1rem;
}
section {
    height: 95vh;
}

footer {
    height: 5vh;
    background-color: #1A1B25;
    text-align: center;

}
.footer-text {
    color: #F0F2A6;
    margin: auto;
    padding-top: 5px;
}
.back-to-login {
    text-align: right;
}
.back-to-login-link {
    color: orangered;
    /* -webkit-text-stroke: 0.5px black; */
    transition: all 0.9s ease;
    font-family: monospace;
    font-family: monospace;
    font-size: 150%;
}
.back-to-login-link:hover {
    color: red;
}