html {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    transition: all 0.9s ease;
}
body {
    background-image: url('https://image.freepik.com/free-vector/abstract-wallpaper-with-halftone_23-2148585152.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section {
    height: 95vh;
}
.innerbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /* margin-top: 10%; */
    display: flex;
    align-items: center;
    /* height: 500px; */
    max-width: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 10px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* overflow-y: scroll; */
}
label {
    font-family: 'Comfortaa', cursive;
    color: #fb3b01;
    transition: all 0.9s ease;
    -webkit-text-stroke: 0.5px black;
    font-size: 120%;
    font-weight: bolder;
}
form {
    margin: 20px;
}

.btn08 {
    background-color: transparent;
    /* position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    color: #fb3b01;
    width: 100px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 1;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
    background-color: transparent;
    border: 1px solid orangered;
    text-shadow: 0 2px 5px orangered;
}

.btn08:hover {
    color: yellow;
    text-shadow: 2px -2px 5px black;   
}
button:focus {
    border: 1px solid black !important;
    box-shadow: none !important;
    outline-color: none !important;
}

.cancel-btn {
    /* margin-top: 7%;
    margin-right: 30%; */
    position: absolute;
    left: 40%;
    top: 70%;
    transform: translate(-50%,-50%);
    /* margin-right: 20%; */
    /* margin-bottom: 20px; */
}
.signin-btn {
    /* margin-left: 30%;
    margin-top: 7%; */
    position: absolute;
    left: 60%;
    top: 70%;
    transform: translate(-50%, -50%);
    /* margin-left: 20%; */
    /* margin-bottom: 20px; */
}
button:focus {
    border: 1px solid black !important;
    box-shadow: none !important;
    outline-color: none !important;
}
/* 
.button-align {
    position: absolute;
    top: 60%;
    left: 40%;
} */

footer {
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: #1A1B25;
    text-align: center;

}
.footer-text {
    width: 100%;
    font-size: 15px;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
    color: #F0F2A6;
    margin: auto;
    padding-top: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:250px) {
    .buttons {
        display: block;
    }
}

#chk-box:focus {
    outline: none !important;
}

input[type=email], input[type=password], input[type=text] {
    /* border: transparent;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 20px; */
    padding-bottom: 0px;
    padding-top: 0px;
    border: none;
    border-bottom: 2px solid #06191F;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: black;
    background: transparent;
}

input[type=email]:focus, input[type=password]:focus , input[type=text]:focus{
    outline: none;
    background: transparent;
    caret-color: black;
}

::placeholder {
    color: rgba(0, 0, 0, 0.692);
}

a {
    color: orangered;
    transition: 0.5s ease;
}
a:hover {
    color: red;
}