html {
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url('https://image.freepik.com/free-vector/abstract-wallpaper-with-halftone_23-2148585152.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    display: block;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    margin-top: 65px;
    position: relative;
    left: 47%;
    bottom: -20%;
    transform: translate(-50%,-50%);
}

img {
    padding-left: 0px;
    height: 400px;
    width: 100%;
}
label {
    color:black;
    margin-bottom: 0px;
    transition: all 0.9s ease;
}
/* label:hover{ 
    text-shadow: 1px 1px 1px gray;
} */
input[type=email], input[type=password] {
    /* border: transparent;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 20px; */
    padding-bottom: 0px;
    padding-top: 0px;
    border: none;
    border-bottom: 2px solid #06191F;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color:black;
    background: transparent;
}
input{
    color:black;
}
input[type=email] {
    margin-bottom: 5px;
}
input[type=email]:focus, input[type=password]:focus {
    outline: none;
    background: transparent;
    caret-color: black;
}


.btn08 {
    background-color: transparent;
    border: 1px solid black;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:black;
    width: 100px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 1;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
    background-color: transparent;
    
    text-shadow: 0 2px 5px rgba(255, 255, 0, 0.671);
}

.btn08:hover {
    color: black;    
}
button:focus {
    border: 1px solid black !important;
    box-shadow: none !important;
    outline-color: none !important;
}

#forgot-password, #sign-up-here {
    color: #03213B;
    transition: all 0.9s ease;
}
/* #forgot-password:hover{
    color: darkolivegreen;
    text-shadow: 1px 1px 1px rgba(127,255,0,0.8);
} */
/* 
#forgot-password:visited {
    color: salmon;
} */
.row {
    position: relative;
    /* top: 50%; */
    transform: translate(0%,50%);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.384);
    /* box-shadow: -10px -10px 10px red; */
}
.sign-up-link {
    padding-top: 2%;
}